body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(75, 150, 219, 0.27);
  font-family: var(--outfit-font), sans-serif;
  --outfit-font: ${outfit.className}; /* Dynamically inject font class */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

header {
  font-family: 'Outfit';
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-family: 'Outfit';
  margin-bottom: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  margin-top: 20px;
}

button:hover,
a:hover {
  /* Apply magnification effect here */
  transform: scale(1.05); /* Magnify by 10% on hover */
  transition: transform 0.2s ease-in-out; /* Smooth transition */
}

button {
  font-size: 2em;
  background-color: #B6AEE2; /* Button color */
  color: #000;
  border: none;
  padding: 20px 40px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 15px;
}

.login-buttons {
  display: flex;
  flex-direction: column; /* Change to column to stack vertically */
  justify-content: space-between;
  width: 100%;
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
}

p {
  margin-bottom: 10px;
  font-size: 1.5em;
}

a {
  text-decoration: underline;
  color: #333; /* Adjust color as needed */
}

input {
  /* Adjust styles for the search bar element: */
  border-radius: 15px;
  font-size: 20px;
  height: 25px;
  padding: 12px 20px;
  border: 20px 20px;
  width: 250px;
  margin: 100 auto; /* Center horizontally */
  position: relative; /* Enable vertical positioning */
  top: 23px; /* Adjust vertical position */

}

.welcome-text{
  position: absolute;
  top: 0px;
  left: 50px;
  font-size: 30px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.welcome-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.plot-map-container {
  display: flex;
  justify-content: space-between;
}

.plot,
.map,
.info-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  max-width: 700px;
}

.plot,
.map {
  margin: 1rem auto;
}

.info-box {
  margin-top: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.plot,
.map {
  height: 400px;
}

.info-box p {
  margin-bottom: 0.5rem;
}
